/* Footer Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
#footer {
  /* margin: 0% 3%; */
  padding: 5% 0%;
  text-align: center;
  background-color: aqua;
}
.footer-icons {
  margin: 1%;
}
p {
  margin: 1%;
  padding: 1%;
}
